@model IEnumerable<PodcastManagementSystem.Models.Episode>

@{
    ViewData["Title"] = "EpisodeCreationApprovalQueue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EpisodeCreationApprovalQueue</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th> Approve Or Deny (Delete)</th>
            <th>
                @Html.DisplayNameFor(model => model.EpisodeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Podcast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationMinutes)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.PlayCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioFileURL)
            </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.CreationOfEpisodeApproved)
            </th> *@
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <div class="d-flex gap-2">
                        <form asp-controller="admin" asp-action="ApproveEpisodeCreation" method="post">
                            <input type="hidden" name="episodeId" value="@item.EpisodeID" />
                            <button type="submit" class="btn btn-success">
                                Approve
                            </button>
                        </form>

                        <form asp-controller="admin" asp-action="DenyEpisodeCreation" method="post">
                            <input type="hidden" name="episodeId" value="@item.EpisodeID" />
                            <button type="submit" class="btn btn-danger">
                                Deny
                            </button>
                        </form>
                    </div>

                    @* <a asp-action="Edit" asp-route-id="@item.EpisodeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EpisodeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EpisodeID">Delete</a> *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EpisodeID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Podcast.Title)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationMinutes)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.PlayCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AudioFileURL)
            </td> *@
            
            @* <td>
                @Html.DisplayFor(modelItem => item.CreationOfEpisodeApproved)
            </td> *@
            
        </tr>
}
    </tbody>
</table>
